/***** Estilos globais *****/

/** import das fontes **/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/** variáveis css **/
:root{
    /* fontes */
    --font1: "Poppins", sans-serif;
    --font2: "DM Sans", sans-serif;

     /* cores */
    --offwhite: #f7f7f7;
    --white: #ffffffea;
    --black: #373737;
    --indigo: #5151a1;
    --dark-blue: #393451;
    --light-gray: rgba(161, 152, 152, 0.856);
}

body{
    font-family: var(--font1);
    color: var(--black);
}


/* media queries */
@media (max-width: 576px) {
  body {
    padding: 0rem 1rem;
  }
}
